
body {
    padding: 2em;
    padding-bottom: 16em;
    margin: auto;
    background-image: url(pigbg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    
}
h1 {
    text-align: center;
   
}
#formulario {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 70px;
    font-family: 'Courier New', monospace;

}
#texto {
    font-family: 'Courier New', monospace;
    
    
}
input {
    width: 300px;
    height: 50px;
    font-size: 30px;
  }


